<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <div class="well">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="size">Size: </label>
                        <select name="size" id="size" ng-model="size" class="form-control">
                            <option value="15">15 x 15</option>
                            <option value="17">17 x 17</option>
                            <option value="21">21 x 21</option>
                        </select>
                    </div>
                    <button id="field-creator" class="btn btn-default" type="button">CREATE</button>
                    <button id="reset-button" class="btn btn-default pull-right" type="button">RESET</button>
                </form>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <span>X-SCORE</span>
                        </div>
                        <div class="panel-footer">
                            <span id="x-score">0</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <span>O-SCORE</span>
                        </div>
                        <div class="panel-footer">
                            <span id="o-score">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <div id="game-field-container">
                <table id="game-field">
                    <tr ng-repeat="rows in game.board">
                        <td ng-repeat="cell in rows" ng-click="turn(cell)">
                            {{cell.value}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-5">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Chat</a>
                </li>
                <li role="presentation">
                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">History</a>
                </li>
                <li role="presentation">
                    <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Prefernces</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content g-tab-content">
                <message-chat role="tabpanel" class="tab-pane active" player="user" chat="game.chat"></message-chat>
                <div role="tabpanel" class="tab-pane">...</div>
                <div role="tabpanel" class="tab-pane">...</div>
            </div>
        </div>
    </div>
</div>